<h1>Show Review</h1>

<ul>

  <li>
    <strong>Desc:</strong>
    <%= @review.desc %>
  </li>

  <li>
    <strong>Rating:</strong>
    <%= @review.rating %>
  </li>

  <li>
    <strong>Rest:</strong>
    <%= @review.rest_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.review_path(@conn, :edit, @review) %></span>
<span><%= link "Back", to: Routes.review_path(@conn, :index) %></span>
