<h1>Show Chat</h1>

<ul>

  <li>
    <strong>Message:</strong>
    <%= @chat.message %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.chat_path(@conn, :edit, @chat) %></span>
<span><%= link "Back", to: Routes.chat_path(@conn, :index) %></span>
